.container {
    position: relative;
    text-align: center;
    color: white;
}

.container img {
    width: 100%;
    height: auto;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 33px;
}

.text-block h3 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}